@model ExportJsonModel
@{
    ViewData["Title"] = "Импорт/Экспорт";
}

<h3>Загрузить Excel файлы</h3>
@using (Html.BeginForm("UploadFiles", "Main", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="files" value="Выбрать файлы" multiple accept=".xlsx"/>
    <input type="submit" value="Загрузить файлы"/>
}

<details>
    <summary>
        <h3>Экспортировать JSON</h3>
    </summary>
    <textarea rows="20" readonly class="form-control">@Model.Json</textarea>
</details>