@model SearchModel
@{
    ViewData["Title"] = "Главная";
}

<div class="text-center">
    <h1 class="display-4">Главная</h1>
</div>

@using (Html.BeginForm("Index", "Main", FormMethod.Get))
{
    <input type="text" name="searchString" class="form-control" placeholder="Поиск файла...">
    <br>
    <button type="submit" value="Поиск" class="btn btn-primary">Поиск </button>
    <label class="form-check-label">
        <input type="radio" name="isRpdSearch" value="true" checked class="form-check-input">
        РПД
    </label>
    <label class="form-check-label">
        <input type="radio" name="isRpdSearch" value="false" class="form-check-input">
        План
    </label>
}

<br>
<ul class="list-group">
    @foreach (var i in Model.Items)
    {
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a asp-controller="Main" asp-action="@(@Model.IsRpdSearch ? "EditRpd" : "ViewPlan")" asp-route-id="@i.Id" class="text-decoration-none" title="Просмотреть/Редактировать">@i.Title</a>
        </li>
    }
</ul>