@model string[]

@{
    ViewBag.Title = "Поиск";
    Layout = "_Layout";
}

<h2>title - @Model[0]</h2>

@using (Html.BeginForm("Search", "Main", FormMethod.Post))
{
    <input type="text" name="fileTitle" placeholder="Введите название файла">
    <input type="submit" value="Поиск"/>
}