@model UploadExcelFilesModel

@{
    ViewData["Title"] = "Загруженные файлы";
}

@if (!Model.SuccessFiles.Any())
{
    <h1>Не загружено ни одного файла!</h1>
    <p>Вероятно, ошибка при разборе типов файлов или файлы не были загружены.</p>
}

@if (Model.SuccessFiles.Any())
{
    <h1>Успешно загружено следующие файлы:</h1>
    <ul>
        @foreach (var file in Model.SuccessFiles)
        {
            <li>@file</li>
        }
    </ul>
}

@if (Model.ProblemFiles.Any())
{
    <h1>Проблемные файлы:</h1>
    <ul>
        @foreach (var file in Model.ProblemFiles)
        {
            <li>@file</li>
        }
    </ul>
}