@using AISIots.Services
@model UploadExcelFilesModel

@{
    ViewData["Title"] = "Загруженные файлы";
}
@if (Model.LoadSuccessful)
{
    <h1>Успешно загружено следующие файлы:</h1>
    <ul>
        @foreach (var file in Model.Files!.Where(x=>x.Info.Type != ExcelFileType.Undefined))
        {
            <li>@file.Info.Type - @System.IO.Path.GetFileName(file.Path)</li>
        }
    </ul>
}

@if (!Model.LoadSuccessful)
{
    <h1>Невыявлено подходящих для обработки файлов</h1>
}